* {
  box-sizing: border-box;
}

/* INDEX PAGE STYLING - STARTS HERE */


#index {
  background-color:rgba(241, 164, 135, 0.836) ;
}


/* Index - Main header styling */

.header-index {
  background-color: none;
  color:white ;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size:2.5em;
  padding-left: 10px;
}

.main-nav {
  font-size: 1.5em;
}

.home {
  padding-right: 20px;
}

.info {
  padding-right: 20px;
}

.rsvp {
  padding-right: 20px;
}


/* Index - Main banner styling */

.banner-index {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.banner-index span {
  display: block;
}

.span-1 {
  font-size: 1.75em;
}

.span-2{
  font-size: 4.5em; 
  padding-top: 50px;
}

.span-3 {
  font-size: 2em;
}

.span-4 {
  font-size: 4.5em; 
  padding-bottom: 50px;
}

.span-5 {
  font-size: 1.75em;
}


/* Index - Main image styling */

.main-image {
  display: flex;
  padding-bottom: 50px;
}

.image-main {
  flex: 50%;
  padding: 10px;
}


/* Index - Our Story styling - Image & Text */

.content-story {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  
}

.image-story {
  width: 35%;
  padding-left: 10px;
  padding-right: 50px;
}

.story {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: justify;
  text-justify: inter-character;
  width: 65%;
  padding-right: 50px;
}

.story span {
  color: black;
  font-size: 3.5em;
}

.story p {
  font-size: 1.35em;
}


/* Index - Our Note styling - Text & Image */

.content-note {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.image-note {
  width: 35%;
}

.note {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: justify;
  text-justify: inter-character;
  width: 65%;
  padding-left: 20px;
  padding-right: 50px;
}

.note span {
  color: black;
  font-size: 2em;
}

.note p {
  font-size: 1.25em;
}

.note .sign-off {
  padding-top: 30px;
}


/* INFO PAGE STYLING - STARTS HERE */


#info {
  background-color: white;
}


/* INFO - Main header styling */


.header-info {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

/* Info - Upper floral design styling */

.floral-upper-info {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

/* Info - Wedding details styling */

.details-info {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-bottom: 50px;
}

.wedding-details {
  font-size: 2.25em;
  font-weight: bold;
}

.wedding-date {
  font-size: 1.75em;
}

/* Info - Timeline info styling */

.timeline-info {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
 
}

.timeline-info > div {
  margin: 50px;
}

.event-type {
  font-weight: bold;
  font-size: 1.35em;
}

.event-time {
  font-size: 1.25em;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Info - Location info styling */

.location-info {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.location-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
}

.location {
  font-weight: bold;
  font-size: 1.5em;
}



/* Info - Lower floral design styling */

.floral-lower-info {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}


/* Info - Image carousel styling */

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background: lightgreen;
  height: 100%;
  position: relative;
  overflow: hidden;     /* puts the images on top of each other in the carousel */
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 350ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {     /* --left is the button modifier */
  left: -75px;
}

.carousel__button--right {    /* --right is the button modifier */
  right: -75px;
}

.carousel__button img {
  width: 50px;
}

.carousel__nav {
  /* background: pink; */
  display: flex;
  justify-content: center;
  padding: 10px 0;
  padding-bottom: 35px;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 17.5px;
  height: 17.5px;
  background: rgba(0, 0, 0, .3);
  margin: 0 15px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, .75);
}

.is-hidden { display: none; }


/* RSVP PAGE STYLING - STARTS HERE */


#rsvp {
  background-color: white;
}

/* rsvp - Main header styling */


.header-rsvp {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.form-header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

/* rsvp - Setting the font of the entire form */

form {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  display: block;
  text-align:center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.name-required, #email-add, .attending-q, #option-label, #comment-label {
  font-size: 1.3em;
  font-weight: bold;
}

/* rsvp - styling the labels to sit on top of the inputs */

input, label {
  display: block;
}

/* rsvp - Name of persons(s) */

.name-required {
  text-align: left;
}

.first-name, .last-name {
  display: inline-block;
  padding-bottom: 75px;
}

#first-n{
  text-align: left;
}

#first-name {
  width: 400px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  
}

#last-n {
  text-align: left;
}

.first-name {
  padding-right: 25px;
}

#last-name {
  width: 400px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
}


/* rsvp - Email Address */

.form-email {
  display: inline-block;
  padding-bottom: 75px;
}

#email-add {
  text-align: left;
}

#email-address {
  width: 835px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
}

.email-updates {
  text-align: left;
}

/* rsvp - Attending Question */


.form-attendance {
  padding-bottom: 75px;
}

#attending {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.05em;
  width: 200px;
  height: 35px;
}

/*
.yes-checkbox, .no-checkbox {
  display: inline-block;
}

.yes-checkbox {
  padding-right: 30px;
}

#check-yes  {
  transform: scale(1.75);
}

#check-no  {
  transform: scale(1.75);
}
*/



/* rsvp - Meal Option */

.meal-option {
  display: inline-block;
  padding-bottom: 75px;
}

#option-label {
  padding-bottom: 10px;
}

#option-choice {
  width: 200px;
  height: 35px;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

#meal-option {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.05em;
  width: 200px;
  height: 35px;
}

/* rsvp - Comments */

.comments-section {
  padding-bottom: 75px;
}

#comment-label {
  padding-bottom: 10px;
}

#comments {
  width: 835px;
  height: 150px;
  font-size: 1.35em;
}

#comment-label {
  text-align: left;
}



/* rsvp - Submit Button */

.open-button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25em;
  width: 150px;
  height: 35px;
  display: block;
  margin: 0 auto;
}




/* rsvp - Modal Styling */

.modal {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-align: center;
}

.input-field {
  font-weight: bold
}


/* rsvp - Close Modal */

.close-button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 80%;
  width: 150px;
  height: 35px;
}

















