* {
  box-sizing: border-box;
}

/* INDEX PAGE STYLING - STARTS HERE */


#index {
  background-color:rgba(241, 164, 135, 0.836) ;
}


/* Index - Main header styling */

.header-index {
  background-color: none;
  color:white ;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size:2.5em;
  padding-left: 10px;
}

.main-nav {
  font-size: 1.5em;
}

.home {
  padding-right: 20px;
}

.info {
  padding-right: 20px;
}

.rsvp {
  padding-right: 20px;
}


/* Index - Main banner styling */

.banner-index {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.banner-index span {
  display: block;
}

.span-1 {
  font-size: 1.75em;
}

.span-2{
  font-size: 4.5em; 
  padding-top: 50px;
}

.span-3 {
  font-size: 2em;
}

.span-4 {
  font-size: 4.5em; 
  padding-bottom: 50px;
}

.span-5 {
  font-size: 1.75em;
}


/* Index - Main image styling */

.main-image {
  display: flex;
  padding-bottom: 50px;
}

.image-main {
  flex: 50%;
  padding: 10px;
}


/* Index - Our Story styling - Image & Text */

.content-story {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  
}

.image-story {
  width: 35%;
  padding-left: 10px;
  padding-right: 50px;
}

.story {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: justify;
  text-justify: inter-character;
  width: 65%;
  padding-right: 50px;
}

.story span {
  color: black;
  font-size: 3.5em;
}

.story p {
  font-size: 1.35em;
}


/* Index - Our Note styling - Text & Image */

.content-note {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.image-note {
  width: 35%;
}

.note {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: justify;
  text-justify: inter-character;
  width: 65%;
  padding-left: 20px;
  padding-right: 50px;
}

.note span {
  color: black;
  font-size: 2em;
}

.note p {
  font-size: 1.25em;
}

.note .sign-off {
  padding-top: 30px;
}


/* INFO PAGE STYLING - STARTS HERE */


#info {
  background-color: white;
}


/* INFO - Main header styling */


.header-info {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

/* Info - Upper floral design styling */

.floral-upper-info {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

/* Info - Wedding details styling */

.details-info {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-bottom: 50px;
}

.wedding-details {
  font-size: 2.25em;
  font-weight: bold;
}

.wedding-date {
  font-size: 1.75em;
}

/* Info - Timeline info styling */

.timeline-info {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
 
}

.timeline-info > div {
  margin: 50px;
}

.event-type {
  font-weight: bold;
  font-size: 1.35em;
}

.event-time {
  font-size: 1.25em;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Info - Location info styling */

.location-info {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.location-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
}

.location {
  font-weight: bold;
  font-size: 1.5em;
}



/* Info - Lower floral design styling */

.floral-lower-info {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}


/* Info - Gallery design styling */

.gallery-1 {
  display: flex;
}

.image-horetown {
  flex: 50%;
  padding: 5px;
}




/* RSVP PAGE STYLING - STARTS HERE */


#rsvp {
  background-color: white;
}

/* rsvp - Main header styling */


.header-rsvp {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}









